{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block title %}
    {% blocktrans with name=method.name %}Delete shipping method '{{ name }}'?{% endblocktrans %} | {% trans "Shipping methods" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:shipping-method-list' %}">{% trans "Shipping methods" %}</a>
        </li>
        <li>
            {{ method.name }}
        </li>
        <li class="active">{% trans "Delete?" %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {{ method.name }}
{% endblock %}

{% block dashboard_content %}
    <form action="" method="post" class="well">
        <p>{% trans "Are you sure you want to delete this shipping method?" %}</p>
        {% csrf_token %}
        <div class="form-actions">
            <button class="btn btn-danger" type="submit" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button> {% trans "or" %}
            <a href="{% url 'dashboard:shipping-method-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock dashboard_content %}
